
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About-Us</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

    </head>
    <body>
        <main id="main">
            <section id="about">
                <div class="container">
                    <header class="section-header">
                        <h3 style="margin-top:0px">About Us</h3>
                        <p>Mail Dashboard provides you the best tracking service to your mails. Our system provides best security solution to your organizations by avoiding unintended information/spams. Explore Ourselves...!</p>
                    </header>
                    <div class="row about-cols">
                        <div class="col-md-4 wow fadeInUp">
                            <div class="about-col">
                                <div class="img">
                                    <img src="img/about-mission.jpg" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                                </div>
                                <h2 class="title"><a href="#">Our Mission</a></h2>
                                <p>
                                    Providing good quality mail tracking system that can help you stay on top of your marketing and identify new opportunities for your business
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="about-col">
                                <div class="img">
                                    <img src="img/about-plan.jpg" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                                </div>
                                <h2 class="title"><a href="#">Our Plan</a></h2>
                                <p>
                                    To provide better target our email, and spend less time sending out multiple pointless emails.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="about-col">
                                <div class="img">
                                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                                </div>
                                <h2 class="title"><a href="#">Our Vision</a></h2>
                                <p>
                                    Tracking your email with Mail dashboard finally brings advanced statistics and technology, used all over the internet, to your email, so that it doesn’t end up like the fax machine. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- #about -->
            <!--==========================
              Services Section
            ============================-->
            <section id="services">
                <div class="container">
                    <header class="section-header wow fadeInUp">
                        <h3>Features</h3>
                        
                    </header>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title"><a href="">Mail-Tracking</a></h4>
                            <p class="description">Monitoring the user's mails.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                            <h4 class="title"><a href="">Segregation</a></h4>
                            <p class="description">Sorting of mails within internal and external Domain.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <h4 class="title"><a href="">Statistics</a></h4>
                            <p class="description">Daily, Weelky, Monthly, Yearly mails count report shown to User as well as Admin.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            <h4 class="title"><a href="">Tracking Reports</a></h4>
                            <p class="description">Generate the different tracking reports from the statistics of User's mails</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                            <h4 class="title"><a href="">Security</a></h4>
                            <p class="description">Provide the security to the mails in mail dashboard, Admin monitors the all mails.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-people-outline"></i></div>
                            <h4 class="title"><a href="">IMP Links</a></h4>
                            <p class="description">Gives access to the general purpose sites (links).</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="section-bg wow fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h3>Contact Us</h3>
                        
                    </div>
                    <div class="row contact-info">
                        <div class="col-md-4">
                            <div class="contact-address">
                                <i class="ion-ios-location-outline"></i>
                                <h3>Address</h3>
                                <address>Govt Poly,Gadge Nagar,Amt.</address>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-phone">
                                <i class="ion-ios-telephone-outline"></i>
                                <h3>Phone Number</h3>
                                <p>+91 77199 069 92</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-email">
                                <i class="ion-ios-email-outline"></i>
                                <h3>Email</h3>
                                <p>maildashboardgpa@gmail.com</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </section><!-- #contact -->
        </main>
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-info" style="margin-left:50px">
                            <h3>Mail-Dashboard</h3>
                            <p>Mail Dashboard is Email Tracking System. Mail Dashboard is for monitoring the email delivery to the intended recipient. Our tracking technology use form of digitally time-stamped record to reveal the exact time and date that an email was received. </p>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links" style="margin-left:100px">
                            <h4>Developser's Team</h4>
                            <ul>
                                <li><i class="ion-ios-arrow-right" ></i> Tushar Mahalle</li>
                                <li><i class="ion-ios-arrow-right"></i> Chaitanya Dhakare</li>
                                <li><i class="ion-ios-arrow-right"></i> Vinod Muley</li>
                                <li><i class="ion-ios-arrow-right"></i> Aman Kanse</li>
                                <li><i class="ion-ios-arrow-right"></i> Vaibhav Metange</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-contact" style="margin-left:100px">
                            <h4>Contact Us</h4>
                            <p>
                                Government Polytechnic<br>
                                Gadge Nagar,Amravati<br>
                                Maharashtra,India <br>
                                <strong>Phone:</strong> +91 77199 069 92<br>
                                <strong>Email:</strong> maildashboardgpa@gmail.com<br>
                            </p>
                            <div class="social-links">
                                <a href="https://twitter.com/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://plus.google.com/" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>Mail-Dashboard</strong>. All Rights Reserved
                </div>
                <div class="credits">
                   
                  
                </div>
            </div>
        </footer>


    </body>
</html>

}


