
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Help</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

    </head>
    <body>
        <main id="main">
            <section id="about">
                <div class="container">
                    <header class="section-header">
                        <h3 style="margin-top:0px">Help</h3>
                        <p>Mail Dashboard provide help to new or existing user. If user has difficulty related to any module. We will provide the detail information about each module.</p>
                    </header>
                  
                </div>
            </section><!-- #about -->
            <!--==========================
              Services Section
            ============================-->
            <section id="services">
                <div class="container">
                 
                    <div class="row">
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title"><a href="">My Dashboard</a></h4>
                            <p class="description">Dashboard will display count of mails given as:<br>
1.	All Outgoing Mails to internal Domain.<br>
2.	All Outgoing Mails to external Domain.<br>
3.	All Incoming Mails from internal Domain.<br>
4.	All Incoming Mails from external Domain.
</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                            <h4 class="title"><a href="">Mail box</a></h4>
                            <p class="description">This page contains a links of inbox, sent, then drafts and spam mails.
The mails are coming from external or internal domain. Click on the any link they show the list of the mails are coming from outside.
</p>
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                            <h4 class="title"><a href="">Compose Mail</a></h4>
                            <p class="description">
                                This page contains the functionality to write and send mails to other users.
                                When you are typing New Message there are basic areas to fill out:<br>
                                1.	The To field<br>                    
                                2.  Subject field:<br>
                                3.	The Body of the message:<br>
                                4.	Attachment: 
                            </p>
                        </div>
                       
                    </div>
                </div>
            </section>
            <section id="contact" class="section-bg wow fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h3>Need More Help</h3>
                       
                    </div>
                    <div class="row contact-info">
                        <div class="col-md-4">
                            <div class="contact-address">
                                <i class="ion-ios-location-outline"></i>
                                <h3>Address</h3>
                                <address>Govt Poly,Gadge Nagar,Amt.</address>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-phone">
                                <i class="ion-ios-telephone-outline"></i>
                                <h3>Phone Number</h3>
                                <p>+91 77199 069 92</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-email">
                                <i class="ion-ios-email-outline"></i>
                                <h3>Email</h3>
                                <p>maildashboardgpa@gmail.com</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- #contact -->
        </main>
     


    </body>
</html>

}


