
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <title>Important-Links</title>
<h2>Important Links</h2>
<body>
<br>
<ul>
<li><h4><a href="http://msbte.org.in" target="_blank">MSBTE</a></h4></li>
<li><h4><a href="http://dtemaharashtra.gov.in/approvedinstitues/DTEPortal/index.html" target="_blank">DTE</a></h4></li>
<li><h4><a href="https://transport.maharashtra.gov.in/1035/Home" target="_blank">R.T.O. Amravati</a></h4></li>
<li><h4><a href="https://www.maharashtra.gov.in/1125/Home" target="_blank">Maharashtra Govt</a></h4></li>
<li><h4><a href="http://supremecourtofindia.nic.in/" target="_blank">Supreme Court of India</a></h4></li>
<li><h4><a href="https://sevaarth.mahakosh.gov.in/login.jsp" target="_blank">SEVARTHA</a></h4></li>
<li><h4><a href="https://mahadbt.gov.in/DBT/" target="_blank">MahaDbt</a></h4></li>
</ul>
</body>
}